$color_fuente_principal: white;
$color_fuente_hover:#F6AB26;
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
body{
    width: 100%;
    background-color:#188CED;
    font-family: 'Commissioner', sans-serif;
}

                                            /* AREA NAV */
.navbar {
    background-color: rgba(218, 218, 213, 0.781);
}
.logo{
    width: 180px;
}
.nav-link{
    color: rgb(27, 18, 148)!important;
}
.nav-link:hover {
    background-color: white;
    color: $color_fuente_hover!important;
    border-radius: 2rem;
    font-size: 1.1rem;
}

/*---------------------------------------INDEX.HTML-----------------------------------------*/
@mixin tamaño_hover{
    width: 40%;
    height: 110%;
}
.quieneSomos--color{
    color: white;
}
.portada{
    display: grid;
    grid-template-columns: 30% 30% 30% ;
    
    grid-template-areas: "portada portada portada" 
                         "texto texto texto"
                         "galeria galeria galeria";
    justify-content: center;
    justify-items: center;
    margin-top: 5em;
}

.portada__imagen {
        width: 100%;
        margin: 0.4em;
        grid-area: portada;
}
.portada__imagen img{
            width: 100%;
             border-radius: 3%;
            }
.portada__quienesSomos{
            width: 90%;
            text-align: center;
            letter-spacing: 1px;
            padding: 2px;
            margin-bottom: 20px;
            grid-area: texto;
}

.quienesSomos__parrafo {
    color: $color_fuente_principal;
    }

.portada__miniGaleria{
    grid-area: galeria;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portada__miniGaleria .img1, .portada__miniGaleria .img2, .portada__miniGaleria .img3{
    width: 100%;
    margin: 5px;
    border-radius: 10%;   
}
.subir{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    }
.subir img{
    align-items: flex-end;
}

@media (max-width:768px) {  
    body{
        margin: 0px;
        padding: 0px;
    }
    .portada{
        display: grid;
        grid-template-columns: 100% ;
        
        grid-template-areas: "portada portada portada" 
                             "texto texto texto"
                             "galeria galeria galeria";
        justify-content: center;
        justify-items: center;
        margin: 0px !important;
        padding: 0px !important;  
    }
    .portada__imagen {
        width: 100%;
        margin-top: 7em;
        grid-area: portada;
    }   
    .portada__miniGaleria{
        grid-area: galeria;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .portada__miniGaleria .img1, .portada__miniGaleria .img2, .portada__miniGaleria .img3{
        width: 90%;
        align-items: center;
    }
}
/*-----------------------------------------------   AREA FOOTER   -----------------------------------------  */

.foot {
        background-color: black;
        text-transform: uppercase;
        color: $color_fuente_principal;
        width: 100%;
        height: 110px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "contacto redes pagos"
                            "contacto copy pagos";
        justify-content: center;
        justify-items: center;
}
  
#contact{
            width: 100%;
            height: 100%;
            grid-area: contacto;
            display: grid;
            font-size: 0.7em;
            line-height: 2;
            align-items:center;
            padding: 5px;
            justify-content: center;
}
#contact ul{
    list-style: none;
}
.correo{
    font-size: 1.1em;
    text-transform: lowercase;
}
.correo:hover{
    color: $color_fuente_hover;
    font-size: 12px;
}

.RedesSociales{
    width: 100%;
    display:flex;
    grid-area: redes;
    padding-top: 10px;
    justify-content: center;
    align-items: end;
}
.RedesSociales img {
            width: 100%; 
            margin: 10px;         
}
.RedesSociales a:hover{
            width: 12%;
}
.RedesSociales a{
    width: 10%;
    margin-right: 12px;
}
.modalpagos{
    display: flex;
    flex-direction:column;
    align-items: center;
    grid-area: pagos;
    padding: 5px;
    text-align: center;
    line-height: 1.5;
    font-size: 0.7em;
    width: 100%;
}
.copyright {
    display: grid;
    width: 100%;
    color: yellowgreen;
    font-size: 8px;
    justify-content: center;
    align-items: end;
    grid-area: copy;
}
@media (max-width:768px) {
    .foot {
        background-color: black;
        text-transform: uppercase;
        color: $color_fuente_principal;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "redes"
                            "copy";
        justify-content: center;
        justify-items: center;
}

    #contact{
        display: none;
    }
    .modalpagos{
        display: none;
    }
}
 /*-----------------------------------  PAGE CONTACTO ------------------------------------------   */
h2{
    text-align: center;
    color: #F6AB26;
    font-size: 3rem;
}
 .contForm{
   width: 95%;
   display: flex;
   flex-direction: row; 
   justify-content: center;
   align-items: center;
}
.formulario{
    width: 100%;
    margin-top: 5em;
    }

.TitCont {
        color: $color_fuente_principal;  
        font-size: 3em;
        font-weight: bolder;
        text-align: center;
        margin: 100px 0px 15px;
        background-color: rgb(59, 68, 196);

    }
fieldset {
    background-color:$color_fuente_principal;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 20px 10px;
    margin: 20px 15px;
}
fieldset label{
    display: inline-block;
    width: 100px;
    margin-left: 5px;
    font-weight: bolder;
}
.input {
    border-radius: 15px;
    width: 50%;
    height: 25px;
    transition: all 1s;
}
.buttons {
    width: 150px;
    height: 30px;
    background-color: blue;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}
.input:focus{
    width: 30vh;
    background-color: $color_fuente_hover;
    color: $color_fuente_principal;
}
.buttons:hover{
        color: $color_fuente_principal ;
        background-color: $color_fuente_hover;
        font-size: 20px;
}
textarea:focus{
    background-color: $color_fuente_hover;
    color: $color_fuente_principal;
}
.cuadroDeTexto{
    width: 100%;
}
.ifr{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.ifr iframe{
    width: 100%;
    height: 100%;   
    border-radius: 10%;
}
@media (max-width:768px){
    .formulario{
        width: 100%;
        margin-top: 10em;
        }
        .contForm{
            width: 90%;
            display: grid;
         }
    .ifr{
        display: none;
    }
    .input {
        border-radius: 10px;
        width: 100%;
        height: 25px;
        transition: all 1s;
    }
}

                                /*  PAGE SERVICIOS  */
@mixin tamaño($widht,){
    width: $widht;
}
/*CAROUSEL*/
.carousel-item{
    margin-top: 6em;
    height: 100vh;
    
}
.slide1{
    background-image: url(../imagenes/img5.jpg);
    background-size: cover;
    background-position: center center;
}
.slide2{
    background-image: url(../imagenes/img3.jpg);
    background-size: cover;
    background-position: center center;
}
.slide3{
    background-image: url(../imagenes/img1.jpg);
    background-size: cover;
    background-position: center center;
}
.card{
    background-color: white;
    margin-top: 50px;
    text-align: center
}
.card-1 {
   .card-imagen{
       @include tamaño(250px);
       padding: 25px;
       margin: 0px;
   } 
}
.card-2 {
    .card-imagen{
        @include tamaño(180px);
        padding: 20px;
        margin: auto;
    } 
 }
 .card-3 {
    .card-imagen{
        @include tamaño(170px);
        padding: 15px;
        margin: auto;
    } 
 }
 .serviciosMargin {
     margin-right: 0px !important;
     padding-right: 0px !important;
     margin-left: 0px !important;
     padding-left: 0px !important;
 }
/*--------------------------------- PAGE NOSOTROS -----------------------------------------*/

.imgNos img{
    height: 90vh;
}
.textoNosotros{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px 0px;
    color: white;
    font-size: 1em
}

@media (max-width:768px){
    .carousel-item{
        margin-top: 7em;
        height: 65vh;
    }
    .imgNos img{
        height: 44vh;
    } 
    .carouselEespecificaciones{
        height: 70vh;
    }
    .textoNosotros{
        width: 100%;
        font-size: 0.7em;
        font-family: 'Comfortaa', cursive;
    }
}


/*---------------------------------- PAGE GALERIA ------------------------------------------ */

.galeria img{
    width: 100%;
    margin: 10px;
    border-radius: 10%;
}
.galeria img:hover{
    width: 105%;
}
.parrafoGaleria{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: $color_fuente_principal;
    font-size: 1em;
}
.titGaleria{
    display: flex;
    justify-content: center;
    color: rgb(27, 18, 148);
    margin: 7rem 0px 30px; 
    text-align: center;
}
.parrImg{
    color: $color_fuente_principal;
    text-align: center;
}
@media (max-width:768px){
    body{
        background-color: rgb(14, 33, 207);
    }
    .titGaleria{
        color: $color_fuente_principal;
        font-size: 1.5em;
        margin: 7rem 0px 10px;
        text-align: center;
    }
    .galeria img{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center
    }
    .parrImg{
        color: $color_fuente_principal;
        text-align: center;
        font-size: 0.8em;
    }
    .parrafoGaleria{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        color: $color_fuente_principal;
        font-size: 0.7em;
        text-align: center;
    }
}